absl-py==0.11.0
astor==0.8.1
cached-property==1.5.2
gast==0.4.0
grpcio==1.33.2
h5py==3.1.0
importlib-metadata==2.0.0
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.2
Markdown==3.3.3
numpy==1.19.4
Pillow==8.1.2
protobuf==3.14.0
six==1.15.0
tensorboard==1.11.0
tensorflow==1.11.0
termcolor==1.1.0
Werkzeug==1.0.1
zipp==3.4.0
